<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <!-- Without register and login feature, User already LOGGED in-->
        <% if (user) { %>
          <a class="navbar-brand" href="/">TinyApp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mt-3 mb-3">
              <a class="nav-item nav-link" href="/urls">My URLs</a>
              <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
            </div>
      
          <div class="col offset-md-6">
            <div class="row">
              <p class="col-8 mt-3 mb-3 text-right align-bottom"; style="color: white">Logged In as: <%= user.email %></p>
              <!-- Logout -->
              <form class="form-inline col-2" action="/logout" method="POST">
                <input class="btn btn-outline-light" type="submit" value="Logout"/>
              </form>
            </div>
          </div>
          </div>
        <% } else { %>
        <!-- With Registration and Login feature, no current log user -->
          <a class="navbar-brand" href="/urls">TinyApp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mt-3 mb-3">
              <a class="nav-item nav-link" href="/urls">My URLs</a>
              <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
            </div>
            <div class=" navbar-nav offset-md-8">
              <a class="nav-item nav-link" href="/Register">Register</a>
              <a class="nav-item nav-link" href="/login">Login</a>
            </div>
          </div>
        <% } %>

  </nav>
</header>