<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <!-- Without login feature, User already LOGGED in-->
        <% if (user) { %>
          <a class="navbar-brand" href="/urls">TinyApp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/urls">My URLs</a>
              <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
              <a class="nav-item nav-link" href="/Register">Register</a>
            </div>
      
          <div class="col offset-md-7">
            <div class="row">
              <p class="col-4 mt-2 mb-0 text-right align-bottom">Logged In as: <strong><%= user.email %></strong></p>
              <!-- Logout -->
              <form class="form-inline col-4" action="/logout" method="POST">
                <input class="btn btn-outline-dark" type="submit" value="Logout"/>
              </form>
            </div>
          </div>
          </div>
        <% } else { %>
        <!-- With Login feature -->
          <a class="navbar-brand" href="/urls">TinyApp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/urls">My URLs</a>
              <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
              <a class="nav-item nav-link" href="/Register">Register</a>
              <a class="nav-item nav-link" href="/login">Login</a>
            </div>
        <% } %>
  </nav>
</header>